# --- Binaries ---
# Project specific names
agent
server
vigil-agent
vigil-server
vigil-agent-*
vigil-server-*

# Windows binaries
*.exe
*.dll

# Test binaries
*.test

# --- Build Artifacts ---
/dist/
/bin/

# --- Data & Configuration ---
# Database files (SQLite)
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Local Environment variables
.env
.env.local

# --- IDE & System ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo


# --- Extre ---
ROADMAP.md