/* Vigil Dashboard - Main Stylesheet */
@import url('variables.css');
@import url('sidebar.css');
@import url('main.css');
@import url('drives.css');
@import url('details.css');
@import url('modals.css');
@import url('settings.css');
@import url('smart-attributes.css');